# idea settings
*.iml
.idea/
target/
.DS_Store
/**/.project
/**/.classpath
/**/.settings/
/**/bin/
/.README.md.html
/pom.xml.versionsBackup
/**/pom.xml.releaseBackup
/**/pom.xml.versionsBackup
/**/release.properties



